// Colors

$gray-1: #D2D2D2;
$gray-2: #B8B8B8;
$gray-3: #9E9E9E;
$gray-4: #838383;
$gray-5: #696969;
$gray-7: #4F4F4F;
$gray-8: #353535;
$gray-9: #1A1A1A;
$dark-blue: #11141F;


$container: 1130px;
$sidenav-w: 135px;