@use '_reset.scss';
@use '_fonts.scss';
@use '_modal-vertical-position-center.scss';
@use '_header.scss';
@use '_footer.scss';
@use '_modals.scss';
@import '_variables.scss';
@import '_mixins.scss';

.static {position: static;}
.logo {
    a {
        display: block;
        width: 100px;
        height: 22px;
        background-image: url(../img/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
}
.logo.logo-mob {
    display: flex;
    justify-content: flex-start;
    a {
        width: 18px;
        height: 25px;
        background-size: cover;
    }
}
.menu-closed {
    .menu .logo {
        display: flex;
        justify-content: flex-end;
        padding-right: 17px;
        a {
            width: 18px;
            height: 25px;
            background-size: cover;
        }
    }
    .burger-menu {
        span {display: block;}
        svg {display: none;}
    }
    .menu .menu__list {
        align-items: flex-end;
        .menu__link {
            text-indent: -99999px;       
        }
    }
}

body {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
}

[class*="__container"] {
    max-width: $container;
    padding: 0 15px;
    margin: 0 auto;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.header, .main, .footer {margin-left: $sidenav-w;}

// -----------------------------------------

.menu {
    position: fixed;
    width: $sidenav-w;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0 $footer-dashboard-h 16px;
    background-color: $dark-blue;
    color: #fff;
    .close {display: none;}
    .menu__list {
        margin-top: 54px;
        height: 100%;
        max-width: 100%;
        @extend %block-scroll;
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
    
    }
    .menu__item {
        &:last-child {margin-top: auto}
        button, a {
            display: flex;
            align-items: center;
            gap: 12px;
            font-size: 14px;
            background-color: transparent;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.3;
            color: $white;
            text-align: left;
            &.active-link {color: $yellow; svg {* {stroke: $yellow;}}}
            svg {
                flex-shrink: 0;
                width: 24px; 
                height: 24px; 
                * {stroke: $white;}
            }
        }
        .nested-menu {
            position: relative;
            top: unset;
            min-width: unset;
            width: 100%;
            margin: 0;
            padding: 0;
            margin-top: 10px;
            padding-left: 5px;
            border: unset;
            list-style-type: "•";
            list-style-position: inside;
            -webkit-box-shadow: unset;
            box-shadow: unset;
            background-color: transparent;
            .nested-menu__item {
                &::marker {font-size: 12px;}
                margin-top: 10px;
                .nested-menu__link {
                    display: inline;
                    margin-left: 5px;
                    padding: 0;
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 1.3;
                    color: $white;
                    &.active-link {color: $yellow;}
                    &:hover {background-image: unset; background-color: transparent;}
                }
            }
        }
    }
    .menu__lk-toggle {
        @extend %lk-toggle;
        display: none;
    }
}
.main {padding-top: 30px;}
.income__dropdown {
    .dropdown-menu {
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }
    .dropdown-backdrop {display: none;}
}
.income {
    .income__total, .income__month, .income__avalibale {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 169px;
        padding: 13px 0 15px 20px;
        background-color: $dark-blue-2;
        border-radius: 12px;
        color: $text-white;
    }
    .income__avalibale {max-width: unset; margin-top: 30px;}
    .income__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.3;
        color: $text-white;
    }
    .income__amount {
        font-weight: 400;
        font-size: 40px;
        line-height: 1.37;
    }
    .income__show-stats {
        background: none;
        outline: none
    }
    .income__actions {
        margin-top: 16px;
        display: flex;
        gap: 20px;
        button {
            width: 100%;
            padding: 10px 0;
            border-radius: 8px;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.37;
        }
        .income__get-pay {
            color: #fff;
            @extend %violet-btn;
        }
        .income__setup {
            border: 1px solid $violet-light;
            background-color: #fff;
            color: $text-black;
            &:disabled {color: $text-disabled;}
        }
        .income__payment-rules {
            max-width: 129px;
            background-color: #fff;
            color: $text-black;
            text-decoration: underline;
            &:hover {color: #5F005F;}
            &:active {color: #410041;}
            &:disabled {color: $text-disabled;}
        }
    }
}
.user {
    .user__payment-info {
        max-height: 169px;
        padding: 20px;
        border-radius: 12px;
        background-color: $dark-blue;
        .user__name {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 130%;
            color: #fff;
        }
        hr {
            margin-top: 15px;
            margin-bottom: 15px;
            border-top: 1px solid #fff;
        }
        .payment-info__list {
            display: flex;
            flex-direction: column;
            gap: 3px;
        }
        .payment-info__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .item__key {
                font-size: 14px;
                line-height: 1.3;
                color: #B3B3B3;
            }
            .item__value {
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 14px;
                line-height: 130%;
                color: #fff;
                .item__btn {
                    position: relative;
                    display: inline-flex; 
                    background-color: transparent; 
                    outline: none;
                    & svg {*{stroke: #fff}}
                    &:hover {
                        svg { *{stroke: $yellow}}
                    }
                    // tooltip
                    &[title]:hover::after {
                        content: attr(title);
                        position: absolute;
                        top: calc(-100% - 24px);
                        right: -0;
                        width: 120px;
                        padding: 5px 10px;
                        background-color: $yellow;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 1.3;
                        color: #100F0F;
                    }
                    &[title]:hover::before {
                        content: " ";
                        position: absolute;
                        top: -7px;
                        left: 50%;
                        transform: translate(-50%, 0);
                        border-width: 5px;
                        border-style: solid;
                        border-color: $yellow transparent transparent transparent;                    }
                }
            }
        }
    }
    .user__manager {
        margin-top: 30px;
        height: 169px;
        max-height: 169px;
        padding: 20px;
        border-radius: 12px;
        background-color: $dark-blue;
        .manager__title {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 1.3;
            color: #fff;
        }
        hr {
            border-top: 1px solid #B3B3B3;
        }
        .manager__contacts {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 10px;
            .contacts__title {
                flex: 1;
                flex-basis: 100%;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 1.3;
                color: #B3B3B3;
            }
            .contcts__link {
                display: flex;
                align-items: center;
                gap: 11px;
                font-size: 16px;
                line-height: 1.3;
                color: #fff;
                p {display: inline-block}
                svg {* {fill: #fff}}
            }
        }
    }
}
.news-offers-minimum {
    margin-top: 70px;
    box-shadow: 0px 4px 10px rgba(104, 104, 104, 0.25);
    border-radius: 12px;
    background-color: #fff;
    ul[role=tablist] {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding-top: 20px;
        height: 61px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        background-color: #262943;
        li.presentation-separator {display: none;}
        li {
            transition: border 0.1s ease-in;
            text-decoration: none;
            padding: 0 25px;
            &.active {border-bottom: 6px solid $yellow;}
            &:nth-child(1) {width: 20.45%;}
            &:nth-child(2) {width: 38.43%; }
            &:nth-child(3) {width: calc(100% - 20.45% - 38.43%);}
        }
        li a {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.3;
            color: $text-white;
            &:hover, &:active, &:focus {text-decoration: none }
        }
    }
    .tab-content {
        height: 842px;
        max-height: 842px;
        padding: 0 20px;
        overflow-y: auto ;
        overflow-x: hidden;
        position: relative;
        &::-webkit-scrollbar {width: 4px; border-radius: 50px;}
        &::-webkit-scrollbar-track {background: transparent;}
        &::-webkit-scrollbar-thumb {background: #4F4F4F; border-radius: 50px;}
        &::-webkit-scrollbar-thumb:hover {background: #555;}
        .show-all-btn {
            position: sticky;
            bottom: -2px;
            padding: 10px 0;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 6px;
            font-size: 16px;
            line-height: 1.3;
            color: $text-black;
            background: #fff;
            outline: none;
        }
    }
    .news {
        &:first-child {margin-top: 29px;}
        margin-top: 10px;
        .news__tag-btn {
            width: 106px;
            padding: 5px 0;
            text-align: center;
            border-radius: 6px;
            background-color: #FFC700;
            outline: none;
            font-size: 10px;
            line-height: 1.3;
            color: $text-black;
        }
        .news__title {
            margin-top: 10px;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.3;
            color: $text-black;
        }
        .news__date{
            margin-top: 5px;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.3;
            color: $gray-4;
        }
        .news__body {
            margin-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid $gray-4;
            font-size: 14px;
            line-height: 1.3;
            color: $text-black;
            ul, ol, dl {list-style-position: inside; margin: 0;}
        }
    }
    .offer, .minimum-in {
        margin-top: 30px;
        display: flex;
        align-items: flex-start;
        gap: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $gray-4;    
        &__img {
            width: 129px;
            height: 80px;
            object-fit: cover;
        }
        &__body {max-width: 181px;}
        &__title {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.3;
            color: $text-black;
        }
        &__description {
            margin-top: 10px;
            margin-bottom: 0px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-size: 12px;
            color: $gray-4;
        }
        &__btn{
            @extend %violet-btn;
            margin-left: auto;
            padding: 11px 33.5px;
            font-size: 14px;
            color: #fff;
            border-radius: 8px;
        }
    }
}
.top-offers {
    margin-top: 70px;
    height: 903px;
    box-shadow: 0px 4px 10px rgba(104, 104, 104, 0.25);
    border-radius: 12px;
    background-color: #fff;
    .top-offers__header {
        display: flex;
        gap: 10px;
        margin: 0;
        padding: 20px 20px 0 20px;
        height: 61px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        background-color: #262943;
    }
    .top-offers__title {
        font-family: 'Inter';
        font-size: 16px;
        line-height: 1.3;
        color: $text-white;
    }
    .top-offers__content {
        position: relative;
        min-height: 440px;
        max-height: 845px;
        padding: 0 20px 20px 20px; 
        overflow-x: auto;
        @extend %block-scroll;
    }
    .top__offers-offer {
        margin-top: 50px;
        display: flex;
        align-items: flex-start;
        gap: 30px;
        &:first-child {margin-top: 20px;}
        &:last-child  {border: none;}
        .offer__num {
            padding-top: 14.5px;
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 1.3;
            color: $text-black;
        }
        .offer__img {width: 90px; height: 50px; object-fit: cover}
        .offer__body {
            flex: 1;
            font-weight: 500;
        }
        .offer__title {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.3;
            color: $text-black;
        }
        .offer__description {
            margin-top: 10px;
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.3;
            color: $gray-4;
        }
        .offer__btn {
            width: 100%;
            margin-top: 10px;
            padding: 11px 15.5px;
            border-radius: 8px;
            font-size: 14px;
            line-height: 1.3;
            color: $text-white;
            @extend %violet-btn;
        }
        .show-all-btn {
            position: sticky;
            bottom: -1px;
            width: calc(100% - 40px);
            padding: 10px 0;
            display: flex;
            align-items: center;
            gap: 6px;
            font-size: 16px;
            line-height: 1.3;
            color: $text-black;
            background: #fff;
            outline: none;
        }
    }

}
.stats {
    margin-top: 44px;
    height: 560px;
    box-shadow: 0px 4px 10px rgba(104, 104, 104, 0.25);
    border-radius: 12px;
    background-color: #fff;
    .stats__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        height: 60px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        background-color: #262943;
    }
    .stats__lk-toggle {
        @extend %lk-toggle;
        .key {
            font-weight: 600;
            font-size: 20px;
            line-height: 1.3;
            color: $text-white;
        }
    }
    .stats__period {
        position: relative;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.3;
        color: $text-white;
        #stats-period-open {
            margin-left: 20px;
            background-color: transparent;
            outline: none;
        }
        #stats-period {
            background-color: transparent;
            color: transparent;
            width: 24px;
            position: absolute;
            right: 0;
            opacity: 0;
        }
    }
}

// Requisites page
[class*="__form"] {
    padding: 30px 20px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(104, 104, 104, 0.25);
    border-radius: 12px;
    [class*="__title"] {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.3;
        color: $gray-8;
    }
}
.lk-label {
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
    margin-left: 15px;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    color: #1A1A1A
}
.lk-input[readonly] {padding-right: 40px;}
.lk-input {
    padding: 11px 15px 11px 15px;
    height: auto;
    border: 1px solid #B8B8B8;
    border-radius: 8px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    color: $gray-8;

    outline: none;
    &:focus {
        border-color: #B8B8B8;
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }
}
.lk-submit-btn {
    padding: 10px 24px;
    @extend %violet-btn;
    border-radius: 8px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    color: $text-white;
}
.with-icon {
    position: relative;
    .input-icon {
        position: absolute;
        width: 24px;
        height: 24px;
        right: 8.5px;
        bottom: 10px;    
    }
}

.user-form {
    .user__name {font-size: 32px}
    .user__form {
        margin-top: 26px;
        padding-bottom: 27px;
        form {margin-top: 20px;}
        .user__info {
            display: flex;
            flex-direction: column;
            gap: 12.5px;
            .info__item {
                display: flex;
                align-items: center;
                font-family: 'Manrope';
                font-weight: 500;
                font-size: 14px;
                line-height: 1.3;
                color: $gray-8;
                .item__key {width: 35%}
                .item__value {display: flex; align-items: center; gap: 5px}
                .item__btn {display: flex; justify-content: center; align-items: center; background-color: transparent}
            }
        }
    }
}

.referal {
    margin-top: calc(41.59px + 26px);
    .refer__form {padding-bottom: 27px;}
    .referal__description {
        margin-top: 5px;
        font-size: 14px;
        color: #4F4F4F;
    }
    form {
        margin-top: 20px;
        .lk-submit-btn {width: 100%;}
    }
}

.pay {
    margin-top: 30px;
    .pay__form {
        form {margin-top: 20px}
    }
}
.api {
    margin-top: -255px;
    .api-docs {
        margin-left: 15px;
        padding: 0;
        background-color: transparent;
        font-size: 12px
    }
    .api-icon {bottom: 28px;}
}


@import '_media.scss';
