@charset "UTF-8";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

html,
body {
  height: 100%;
  line-height: 1;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Regular.woff2") format("woff2"), url("../fonts/Mulish-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Medium.woff2") format("woff2"), url("../fonts/Mulish-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-SemiBold.woff2") format("woff2"), url("../fonts/Mulish-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Bold.woff2") format("woff2"), url("../fonts/Mulish-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-SemiBold.woff2") format("woff2"), url("../fonts/Manrope-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.menu .menu__list::-webkit-scrollbar {
  width: 4px;
  border-radius: 50px;
}
.menu .menu__list::-webkit-scrollbar-track {
  background: transparent;
}
.menu .menu__list::-webkit-scrollbar-thumb {
  background: #4F4F4F;
  border-radius: 50px;
}
.menu .menu__list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.income .income__actions .income__get-pay {
  background-color: #480048;
}
.income .income__actions .income__get-pay:hover {
  background-color: #5F005F;
}
.income .income__actions .income__get-pay:active {
  background-color: #410041;
}
.income .income__actions .income__get-pay:disabled {
  color: #A4A4A4;
  background-color: #E2E2E2;
}

.header .header__lk-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.header .header__lk-toggle .lk-btn {
  position: relative;
  width: 51px;
  height: 31px;
  border-radius: 30px;
  outline: none;
  background-color: #FFC700;
}
.header .header__lk-toggle .lk-btn:focus {
  outline: none;
}
.header .header__lk-toggle .lk-btn.active .circle {
  left: 2px;
}
.header .header__lk-toggle .circle {
  position: absolute;
  width: 27px;
  height: 27px;
  top: 50%;
  right: 2px;
  transform: translate(0, -50%);
  border-radius: 50%;
  background-color: #F6F4F1;
}
.header .header__lk-toggle .key {
  line-height: 1.37;
  color: #FAF4F4;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}
.burger-menu span {
  display: none;
  width: 16px;
  border: 1.4px solid #FAF4F4;
}
.burger-menu svg {
  display: block;
  height: 20px;
}

.header {
  background-color: #11141F;
}
.header .header__container {
  height: 65px;
  padding-top: 20px;
}
.modal-dialog {
  width: 100%;
  max-width: 784px;
}

.modal-content {
  padding: 30px;
}

.modal-header {
  padding: 0;
  border: 0;
}

.modal__title {
  font-family: "Manrope";
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  color: #100F0F;
}

.modal__info {
  margin-top: 5px;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #838383;
}

#getPayModal form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#getPayModal form .form-group {
  margin: 0;
  display: flex;
  align-items: center;
}
#getPayModal form .form-group .control-label {
  padding: 0;
  font-family: "Manrope";
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  color: #838383;
  text-align: left;
}
#getPayModal form .form-group input.form-control {
  padding: 11px 20px;
  border-radius: 8px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #838383;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #100F0F;
}
#getPayModal form .form-group .value {
  font-family: "Manrope";
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  color: #100F0F;
}

#paymentRules .modal__notice {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #100F0F;
}
#paymentRules .modal__info {
  margin-top: 0;
  font-size: 12px;
}
#paymentRules .modal__second-title {
  margin-top: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
}
#paymentRules ul {
  margin-top: 20px;
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#paymentRules ul li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#paymentRules ul li div {
  width: 48%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
}
#paymentRules ul li .key span {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: #838383;
}
#paymentRules ul li .value {
  font-size: 12px;
}

#statusModal .modal__subtitle {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
}
#statusModal .modal__info {
  font-size: 12px;
}
#statusModal ul {
  margin-top: 20px;
  padding: 20px 0 10px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-top: 1px solid #838383;
  border-bottom: 1px solid #838383;
}
#statusModal ul .status-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  color: #100F0F;
}
#statusModal ul .status-description {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
}
#statusModal .modal__notice {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
}

.menu .menu__list::-webkit-scrollbar {
  width: 4px;
  border-radius: 50px;
}
.menu .menu__list::-webkit-scrollbar-track {
  background: transparent;
}
.menu .menu__list::-webkit-scrollbar-thumb {
  background: #4F4F4F;
  border-radius: 50px;
}
.menu .menu__list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.income .income__actions .income__get-pay {
  background-color: #480048;
}
.income .income__actions .income__get-pay:hover {
  background-color: #5F005F;
}
.income .income__actions .income__get-pay:active {
  background-color: #410041;
}
.income .income__actions .income__get-pay:disabled {
  color: #A4A4A4;
  background-color: #E2E2E2;
}

.menu-closed .menu .logo {
  display: flex;
  justify-content: flex-end;
  padding-right: 17px;
}
.menu-closed .menu .logo a {
  width: 18px;
  height: 25px;
  background-size: cover;
}
.menu-closed .burger-menu span {
  display: block;
}
.menu-closed .burger-menu svg {
  display: none;
}
.menu-closed .menu .menu__list {
  align-items: flex-end;
}
.menu-closed .menu .menu__list .menu__link {
  text-indent: -99999px;
}

body {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
}

[class*=__container] {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.footer {
  height: 100px;
  background-color: #11141F;
}

.header, .main {
  margin-left: 135px;
}

.menu {
  position: fixed;
  width: 135px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0 100px 16px;
  background-color: #11141F;
  color: #fff;
}
.menu .logo a {
  display: block;
  width: 100px;
  height: 22px;
  background-image: url(../img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.menu .menu__list {
  margin-top: 54px;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.menu .menu__item:last-child {
  margin-top: auto;
}
.menu .menu__item button, .menu .menu__item a {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  background-color: transparent;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #F6F4F1;
  text-align: left;
}
.menu .menu__item button.active-link, .menu .menu__item a.active-link {
  color: #FFC700;
}
.menu .menu__item button.active-link svg *, .menu .menu__item a.active-link svg * {
  stroke: #FFC700;
}
.menu .menu__item button svg, .menu .menu__item a svg {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}
.menu .menu__item button svg *, .menu .menu__item a svg * {
  stroke: #F6F4F1;
}
.menu .menu__item .nested-menu {
  position: relative;
  top: unset;
  min-width: unset;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  padding-left: 5px;
  border: unset;
  list-style-type: "•";
  list-style-position: inside;
  -webkit-box-shadow: unset;
  box-shadow: unset;
  background-color: transparent;
}
.menu .menu__item .nested-menu .nested-menu__item {
  margin-top: 10px;
}
.menu .menu__item .nested-menu .nested-menu__item::marker {
  font-size: 12px;
}
.menu .menu__item .nested-menu .nested-menu__item .nested-menu__link {
  display: inline;
  margin-left: 5px;
  padding: 0;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: #F6F4F1;
}
.menu .menu__item .nested-menu .nested-menu__item .nested-menu__link.active-link {
  color: #FFC700;
}
.menu .menu__item .nested-menu .nested-menu__item .nested-menu__link:hover {
  background-image: unset;
  background-color: transparent;
}

.main {
  padding-top: 30px;
}

.income__dropdown .dropdown-menu {
  -webkit-box-shadow: unset;
  box-shadow: unset;
}
.income__dropdown .dropdown-backdrop {
  display: none;
}

.income .income__total, .income .income__month, .income .income__avalibale {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 169px;
  padding: 13px 0 15px 20px;
  background-color: #252542;
  border-radius: 12px;
  color: #FAF4F4;
}
.income .income__avalibale {
  max-width: unset;
  margin-top: 30px;
}
.income .income__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  color: #FAF4F4;
}
.income .income__amount {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.37;
}
.income .income__show-stats {
  background: none;
  outline: none;
}
.income .income__actions {
  margin-top: 16px;
  display: flex;
  gap: 20px;
}
.income .income__actions button {
  width: 100%;
  padding: 10px 0;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.37;
}
.income .income__actions .income__get-pay {
  color: #fff;
}
.income .income__actions .income__setup {
  border: 1px solid #480048;
  background-color: #fff;
  color: #100F0F;
}
.income .income__actions .income__setup:disabled {
  color: #A4A4A4;
}
.income .income__actions .income__payment-rules {
  max-width: 129px;
  background-color: #fff;
  color: #100F0F;
  text-decoration: underline;
}
.income .income__actions .income__payment-rules:hover {
  color: #5F005F;
}
.income .income__actions .income__payment-rules:active {
  color: #410041;
}
.income .income__actions .income__payment-rules:disabled {
  color: #A4A4A4;
}

.user .user__payment-info {
  max-height: 169px;
  padding: 20px;
  border-radius: 12px;
  background-color: #11141F;
}
.user .user__payment-info .user__name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #fff;
}
.user .user__payment-info hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid #fff;
}
.user .user__payment-info .payment-info__list {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.user .user__payment-info .payment-info__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user .user__payment-info .payment-info__item .item__key {
  font-size: 14px;
  line-height: 1.3;
  color: #B3B3B3;
}
.user .user__payment-info .payment-info__item .item__value {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  line-height: 130%;
  color: #fff;
}
.user .user__payment-info .payment-info__item .item__value .item__btn {
  position: relative;
  display: inline-flex;
  background-color: transparent;
  outline: none;
}
.user .user__payment-info .payment-info__item .item__value .item__btn svg * {
  stroke: #fff;
}
.user .user__payment-info .payment-info__item .item__value .item__btn:hover svg * {
  stroke: #FFC700;
}
.user .user__payment-info .payment-info__item .item__value .item__btn[title]:hover::after {
  content: attr(title);
  position: absolute;
  top: calc(-100% - 24px);
  right: 0;
  width: 120px;
  padding: 5px 10px;
  background-color: #FFC700;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: #100F0F;
}
.user .user__payment-info .payment-info__item .item__value .item__btn[title]:hover::before {
  content: " ";
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translate(-50%, 0);
  border-width: 5px;
  border-style: solid;
  border-color: #FFC700 transparent transparent transparent;
}
.user .user__manager {
  margin-top: 30px;
  height: 169px;
  max-height: 169px;
  padding: 20px;
  border-radius: 12px;
  background-color: #11141F;
}
.user .user__manager .manager__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  color: #fff;
}
.user .user__manager hr {
  border-top: 1px solid #B3B3B3;
}
.user .user__manager .manager__contacts {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
.user .user__manager .manager__contacts .contacts__title {
  flex: 1;
  flex-basis: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #B3B3B3;
}
.user .user__manager .manager__contacts .contcts__link {
  display: flex;
  align-items: center;
  gap: 11px;
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
}
.user .user__manager .manager__contacts .contcts__link p {
  display: inline-block;
}
.user .user__manager .manager__contacts .contcts__link svg * {
  fill: #fff;
}/*# sourceMappingURL=style.css.map */